<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>

  {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
  {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
  {% if page.author %}
    {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.url }}/css/owl.carousel.css">
  <link rel="stylesheet" href="{{ site.url }}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.url }}/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.url }}/css/style.css">
  <link rel="stylesheet" href="{{ site.url }}/css/ionicons.min.css">
  <link rel="stylesheet" href="{{ site.url }}/css/animate.css">
  <link rel="stylesheet" href="{{ site.url }}/css/responsive.css">

  <!-- Js -->
  <script src="{{ site.url }}/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="{{ site.url }}/js/vendor/jquery-1.10.2.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ site.url }}/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
  <script src="{{ site.url }}/js/bootstrap.min.js"></script>
  <script src="{{ site.url }}/js/owl.carousel.min.js"></script>
  <script src="{{ site.url }}/js/plugins.js"></script>

  <script src="{{ site.url }}/js/min/waypoints.min.js"></script>
  <script src="{{ site.url }}/js/jquery.counterup.js"></script>






  <script src="{{ site.url }}/js/main.js"></script>
  <script src="{{ site.url }}/js/plugins/jquery.mixitup.min.js"></script>

</head>

  <body id="js-body">

    {% include browser-upgrade.html %}
    {% include header.html %}


    <div id="page-wrapper">
      {{ content }}
      {% include footer.html %}
    </div>

    <script src="{{ site.url }}/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="{{ site.url }}/js/plugins/jquery.mixitup.min.js"></script>
    <script src="{{ site.url }}/js/owl.carousel.min.js"></script>
    <script src="{{ site.url }}/js/jquery.counterup.js"></script>

    <script src="{{ site.url }}/js/main.js"></script>

  </body>

</html>
